{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidature.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidature.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ candidature.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidature.email }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>{{ candidature.CV }}</td>
            </tr>
            <tr>
                <th>Offre</th>
                <td>{{candidature.getIdOffer}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidature_index') }}">back to list</a>

    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}">edit</a>

    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}
